.help__Desc {
    color: rgb(58, 58, 58);
    font-family: 'Merriweather';
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__title {
    font-size: 24px;
}

.help__descdesc {
    font-size: 16px;
    padding-top: 8px;
}

.help__div {
    height: 4px;
    width: 100px;
    border-radius: 4px;
    margin-top: 24px;
    border: solid #fdce4f;
}